
@media (max-width: 700px){
     body{
         width: 95%;
     }

     header div span{
         display: none;
     }

}

@media (max-width: 500px){
article .choice-grid div{
    width: calc(49% - 22px);
}}



.choice-grid{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.choice-grid div{
    display: flex;
    flex-direction: column;
    width: calc(32.5% - 22px);
    border: solid #dcdcdc 1px;
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    opacity: 0.6;
}

div.overlay{
    background-color: #cfe3ff;
    opacity: 1;
}

#Esito div{
    margin-top: 40px;
    padding: 20px;
}

.hidden{
    display: none;
}

#TITOLO{
    margin-bottom: 18px;
}

#DESCRIZIONE{
    margin-bottom: 18px;
}

button{
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    background-color: #cecece;
}

button:hover{
    background-color: #e0e0e0;
}